<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
<link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
    <div th:fragment="header">
        <h1>這是樣板標題</h1>
    </div>
    <p>樣板內文</p>
    <aside>
        <div>選單區塊1</div>
    </aside>
    <div class="another">選單區塊2</div>
    <footer th:fragment="footer">
        <a th:href="@{/home}">回首頁</a> | 
        <a th:href="@{/markup}">下一頁</a> | 
        <a th:href="@{/params}">輸入資料</a> | 
        <a th:href="@{/user}">取得使用者清單</a> 
    </footer>
</body>
</html>