<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Thymeleaf Fragments: home</title>
<!--/*/ <th:block th:include="fragments/general.html :: headerfiles"></th:block> /*/-->
</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>

	<h1>Spring MVC + Embedded database example</h1>
	select * from user
	<table border="1">
		<tr>
			<th>id</th>
			<th>name</th>
			<th>email</th>
		</tr>
		<tr th:each="user,userStat : ${user}">
			<td th:text="${user.id}">id</td>
			<td th:text="${user.name}">name</td>
			<td th:text="${user.email}">email</td>
		</tr>

	</table>

	 
	<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>